.main_tasas-tablas {
    display: flex;
    margin: 0 auto;
    max-width: 950px;
}

.main_detalles--cards {
    display: flex;
    flex-flow: wrap;
    max-width: 950px;
    margin: 0 auto;
}

.main_planes--slides {
    justify-content: center;
    overflow-x: unset;
}

.main_planes--slides .plan {
    margin: 50px 30px 30px;
}